
@{
    ViewBag.Title = "Trong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid padding">
    <div class="row padding" style="margin-top:50px">
        <div class="col-lg-8" style="padding:70px;">
            <h2 style="font-size:40px;">Giỏ hàng</h2>
            <a href="#"><p>Trang chủ </a><span>/ giỏ hàng</span></p>
        </div>

    </div>
</div>
<div class="container">
    <div class="row" style="width: 1000px;margin-left: 70px; border: 1px solid #66666661;padding: 12px 20px;">
        <span class="glyphicon glyphicon-shopping-cart" style="padding-right:5px;"></span> Sản phẩm trong giỏ của bạn:  <span id="count-cart" style="font-weight:bold;padding-left:3px;">0</span> <span style="padding-left:5px"> Sản phẩm</span>
    </div>

</div>
<div class="container" style="margin-bottom:50px;margin-top:50px">
    <div class="row" style="width:1000px;margin-left:70px;">
        <table id="example1" border="1" style="width:100%;text-align:center">
            <thead style="        background: #5eab9d4a;">
                <tr>
                    <th style="text-align: center; padding: 20px;">Ảnh sản phẩm</th>
                    <th style="text-align: center; padding: 20px;">Tên sản phẩm</th>
                    <th style="text-align: center; padding: 20px;">Đơn giá</th>
                    <th style="text-align: center; padding: 20px;">Số lượng</th>
                    <th style="text-align: center; padding: 20px;">Thành tiền</th>
                    <th style="text-align: center; padding: 20px;">Xóa</th>
                </tr>
            </thead>
            <tbody>
              
                    <tr>
                       
                    </tr>
            </tbody>
            <tfoot style="        background: #5eab9d4a;">
                <tr>
                    <td colspan="2" rowspan="1"></td>
                    <td colspan="3" style=" color: #333;font-size: 17px;font-family: sans-serif;padding:17px"><strong>Tổng tiền</strong></td>
                    <td colspan="1" id="total_price" style="font-weight:bold;color:#e84d1c;font-size:17px;">0 đ</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="row" style="margin-top: 30px; width: 1000px;margin-left: 70px;">
        <a class="nav navbar-left" href=@Url.Action("index", "nhan") style="width: 200px;height: 40px;color: #666666db;border: 1px solid #6666;padding: 12px;text-align: center;"><i class="glyphicon glyphicon-chevron-left" style="font-size: 10px;margin-right: 10px;color: #666666db;"></i>  Tiếp tục mua hàng</a>
    </div>
</div>
